@font-face {
    font-family: logoFont;
    src: url(Norse-Bold.otf);
  }

* {
    margin: 0;
}

.grid-container {
    display: flex;
    height: 100vh;
}

/*PARTEA STANGA */

.imagine-stanga {
    width: 35%;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100%;
    background-size: cover;
    text-align: center;
    float:left
}

.div-logo {
    font-family: logoFont;
    padding: 25px;
    font-size: 4rem;
    margin-top: 50%;
    background-color: rgba(0, 0, 0, 0.508);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.copyright-bottom {
    bottom: 1.2%;
    position: fixed;
    color: white;
    margin: 0 auto;
    width: 30%;

}

#textP {
    text-align: center;
}


/*PARTEA DREAPTA */
.sectiune-form {
    height: 100%;
    width: 65%;
    float:right;
    background-color: #FAFAFA;
}

.sectiune-form .sectiune-text {
    margin: 4rem 2rem;
    margin-bottom: 2rem!important;
    font-weight: bold;
    font-size: 2rem;
    
}

.sectiune-form .sectiune-text p {
    margin-bottom: 3rem;
    
}

.formRows {
    display: flex;
}

.formColumns {
    flex: 50%;
}

.form {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}



.form h2 {
    margin-bottom: 1.5rem;
}
.form {
    font-weight: 500;
}

.form input {
    border-color: #EAECEF;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    height: 1.5rem;
    width: 15rem;
}

#createAcc {
    background-color: #596D48;
    margin: 2rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    border: none;
}

#loginOption {
    margin: 0.5rem 2rem;
    font-weight: 600;
    font-size: 1.4rem
}

#loginOption a {

    text-decoration: none;
    color: #596D48;
}